@charset "UTF-8";
#main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

#main .product {
    padding: 1px;
    width: calc(100% / 3);
}

#main .product a {
    display: block;
    color: #000;
    text-decoration: none;
}

#main .product a img {
    width: 100%;
}

#main .product a .product_title {
    display: inline-block;
    width: 100%;
}

#main .product a .product_title,
#main .product a .price {
    font-size: 14px;
}

#main .product .price {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}