@charset "UTF-8";
body {
    width: 100%;
    background: #FFFFFF;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #FF9900;
}

header h1 {
    font-size: 2em;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}

header #back_button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 40px;
}

header #back_button a {
    height: 100%;
    width: auto;
    display: block;
}

header #back_button a img {
    width: 100%;
    height: 100%;
}

#enter_email_form,
#message {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
}

#enter_email_form input {
    width: 90%;
    height: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3em;
    background: #EEEEEE;
    border-radius: 10px;
}

#enter_email_form button {
    position: absolute;
    width: 95%;
    height: 50px;
    font-size: 1.3em;
    top: 45%;
    left: 50%;
    border: 1px solid #B37212;
    background: #FF9900;
    transform: translateX(-50%);
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

#send_mail_message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    text-align: center;
    font-size: 1.3em;
    color: #B0AEAA;
}

#send_mail_message span {
    color: #000;
}