@charset "UTF-8";

/*=====初期化=====*/

* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    list-style-position: outside;
}

img {
    vertical-align: middle;
    /*画像のベースライン*/
    max-width: 100%;
}

a {
    text-decoration: none;
    /*aの下線を非表示にする*/
    color: black;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    background-color: white;
    top: 0;
    border-bottom: solid black 1px;
}

header .sing_login_header_logo {
    margin: 0 auto;
    width: 30%;
}

header .sing_login_header_logo img {
    width: 100%;
}

#member_nav .new_btn,
.login_btn {
    width: 100px;
    height: 40px;
    font-size: 1.2em;
}

#member_nav .new_btn {
    background-color: red;
}

#member_nav .new_btn {
    border-radius: 5px;
    color: white;
}

#member_nav .login_btn {
    border-radius: 5px;
    border: solid skyblue 1px;
    background: #FFF;
}

#member_nav .login_btn {
    color: skyblue;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    text-align: center;
}

.more_btn {
    font-size: 0.8em;
    color: #3e3ed4;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #member_nav {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        width: 50%;
    }
    #member_nav li {
        font-size: 0.8em;
        padding: 5px;
    }
    h1 {
        padding: 5px;
        text-align: center;
        width: 30%;
    }
    h1 img {
        width: 80px;
    }
    #search_area {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    #search_area .search {
        width: 90%;
    }
    #search_area ul {
        -webkit-box-pack: normal;
        -ms-flex-pack: normal;
        justify-content: normal;
    }
    #search_area .search_btn {
        width: 10%;
    }
    #search {
        border: 0;
        font-size: 0.9em;
        color: #aaa;
        border: solid 1px #ccc;
        width: 100%;
    }
    #search,
    i {
        padding: 10px;
    }
    button {
        margin-left: -12%;
    }
    #category {
        margin-bottom: 5px;
    }
    main {
        margin-bottom: 20px;
        position: relative;
    }
    main h1 {
        font-size: 1em;
        margin-bottom: 5px;
    }
    main .more_btn {
        position: absolute;
        right: 5%;
        top: 7px;
    }
    .goods {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .goods article {
        width: 32%;
        border: solid black 1px;
        margin-bottom: 10px;
    }
    .goods article .price {
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        width: 50%;
        border-radius: 0 15px 0 0;
        color: white;
        background-color: rgba(128, 128, 128, 0.432);
        text-align: center;
        font-size: 0.8em;
    }
    .goods article .about {
        border-top: solid black 1px;
        padding: 10px 5px;
        font-size: 0.8em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #member_nav {
        width: 40%;
    }
}

@media screen and (min-width: 769px) {
    header .web_header_top,
    header .web_header_bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    header .logo {
        width: 15%;
        padding: 5px;
    }
    header .logo img {
        width: 100px;
    }
    #search_area {
        padding-top: 25px;
        width: 85%;
        margin: 0 auto;
    }
    #search_area .search {
        width: 95%;
    }
    #search_area .search_btn {
        width: 5%;
    }
    #search_area #search {
        border: 0;
        font-size: 0.9em;
        color: #aaa;
        border: solid 1px #ccc;
        width: 100%;
    }
    #search_area #search,
    #search_area .search_btn {
        padding: 5px;
    }
    .web_header_bottom {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .web_header_bottom #category,
    .web_header_bottom #member_nav {
        -webkit-box-pack: normal;
        -ms-flex-pack: normal;
        justify-content: normal;
    }
    .web_header_bottom #category li,
    .web_header_bottom #member_nav li {
        padding: 5px;
    }
    .web_header_bottom #category {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
    .web_header_bottom #member_nav li {
        position: relative;
        right: 0;
    }
    .web_header_bottom #member_nav .login_btn {
        margin-left: 20px;
    }
    main {
        width: 100%;
    }
    main .goods_header,
    main .goods {
        width: 80%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    main .goods_header {
        height: 50px;
        line-height: 50px;
    }
    main .goods {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    main article {
        margin-bottom: 20px;
        width: 19%;
        border: solid #555 1px;
        background-color: white;
    }
    main article img {
        padding: 20px;
    }
    main article .price {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        width: 50%;
        border-radius: 0 15px 0 0;
        color: white;
        background-color: rgba(128, 128, 128, 0.432);
        font-size: 0.8em;
    }
    main article .about {
        border-top: solid #444 1px;
        padding: 10px 5px;
        font-size: 0.8em;
    }
}

#campaign {
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #95e9e5;
    margin-bottom: 10px;
}


/********** for create_account style code **********/

#singup_h2 {
    font-size: 2em;
}


/********** for create_account style code **********/


/********** for mypage style code **********/

#mypage {
    background-color: #fafafa;
    /* border: solid red 1px; */
    margin: 60px;
    display: flex;
    justify-content: space-between;
}

#mypage #side_bar {
    margin-left: 80px;
    line-height: 60px;
}

#mypage #user_menu {
    /* border: solid red 1px; */
    width: 60%;
    right: 0px;
}


/* #mypage #user_menu ul {
    border: solid red 1px;
} */

#mypage .list_view {
    display: flex;
    flex-direction: column;
}

#mypage #side_bar .mypage_flex {
    display: flex;
    flex-direction: column;
    /* border: solid blue 1px; */
    width: 400px;
}

#mypage li {
    border: solid #f5f5f5 1px;
    background-color: #FFF;
}

#mypage #side_bar li {
    width: 300px;
}

#mypage #user_menu li {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

#mypage #about_myinfo {
    height: 250px;
}


/********** for mypage style code **********/


/********** for details style code **********/

#details {
    /* border: solid red 1px; */
    padding: 10px;
    background-color: white;
    color: #333;
    width: 800px;
    margin: 50px auto;
}

#details .compose {
    padding: 10px;
    /* border: solid red 1px; */
    display: flex;
    justify-content: space-between;
}

#details .column {
    padding: 10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#details h1 {
    line-height: 50px;
    font-size: 1.8em;
}

#details h2 {
    /* border: solid red 1px; */
    font-size: 15px;
}

#details #image h2 {
    height: 350px;
    width: 350px;
}

#details #image li {
    width: 70px;
    height: 70px;
}

#details li {
    cursor: pointer;
    border: 1px solid #000;
    width: 180px;
    height: 62px;
    line-height: 62px;
}

#details #submit {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #000;
    line-height: 40px;
}

#details #description pre {
    font-size: 15px;
}

#details {
    margin: 20px auto;
}

#details .goods_header,
#details .goods {
    /* width: 80%; */
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#details .goods_header {
    height: 50px;
    line-height: 50px;
}

#details .goods {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#details article {
    margin-bottom: 20px;
    width: 30%;
    border: solid #555 1px;
    background-color: white;
}

#details article img {
    padding: 20px;
}

#details article .price {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 50%;
    border-radius: 0 15px 0 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.432);
    font-size: 0.8em;
}

#details article .about {
    border-top: solid #444 1px;
    padding: 10px 5px;
    font-size: 0.8em;
}


/********** for details style code **********/


/********** for exhibits style code **********/

#exhibits {
    /* border: solid red 1px; */
    padding: 50px;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}

#exhibits .compose {
    padding: 10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
}

#exhibits h2 {
    /* border: solid red 1px; */
    margin-left: 0px;
}


/********** for exhibits style code **********/


/********** for exhibits style code **********/

#exhibits {
    /* border: solid red 1px; */
    padding: 10px;
    background-color: white;
    color: #333;
    width: 800px;
    margin: 50px auto;
}


/* 
#exhibits .compose {
    padding: 110px;
    border-top: solid red 1px;
    display: flex;
    justify-content: space-between;
} */

#exhibits h1 {
    line-height: 60px;
}

#exhibits h2 {
    /* border: solid red 1px; */
    margin-left: 0px;
    font-size: 1.2em;
}

#exhibits option {
    text-align: right;
}

#exhibits #intro textarea {
    /* border: solid red 1px; */
    width: 500px;
}

#exhibits .compose .column {
    flex-direction: column;
    /* border: solid red 1px; */
    width: 500px;
}

#exhibits .compose p {
    height: 30px;
    /* border-bottom: solid red 1px; */
    width: 500px;
    line-height: 40px;
}

#exhibits .compose input,
#exhibits .compose select {
    height: 40px;
    /* border: solid red 1px; */
    width: 500px;
    line-height: 40px;
}

#exhibits #submit {
    width: 200px;
    margin-left: 120px;
    /* border: solid red 1px; */
}

#exhibits #reset {
    width: 200px;
    margin-right: 120px;
    /* border: solid red 1px; */
}


/********** for exhibits style code **********/


/********** for exhibits_button style code **********/

#exhibits_button {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 100;
}

#exhibits_button button {
    font-size: 3em;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background: rgb(0, 255, 179);
}


/********** for exhibits_button style code **********/


/********** for footer style code **********/

#footer {
    background-color: #222;
    color: #CCC;
    height: 640px;
    width: 100%;
    /* position: relative; */
    line-height: 22px;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
}

#sing_login_footer {
    position: absolute;
    background-color: #222;
    color: #CCC;
    width: 100%;
    line-height: 22px;
    text-align: center;
    font-size: 0.8em;
    bottom: 0px;
    height: 30px;
}

#footer #info_BuyMyToys,
#set_rang {
    background-color: #333;
}

#footer #set_rang {
    height: 100px;
    padding: 30px;
    border-top: solid #AAA 1px;
}

#footer #info_BuyMyToys .flex_header {
    line-height: 40px;
    font-size: 1.2em;
}

#footer #masarudo {
    font-size: 0.3em;
}

#footer .footer_flex {
    display: flex;
}

#footer .footer_flex ul {
    flex-direction: column;
    width: 25%;
    padding: 0px 7%;
}

#footer .footer_flex li {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#footer .footer_flex a {
    color: #CCC;
}

#footer #info_BuyMyToys {
    padding: 30px 0px;
}

#footer #info_masarudo {
    padding-top: 30px;
    padding-bottom: 10px;
}

#footer select {
    color: #CCC;
}

#footer address {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer #sing_login_address {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


/********** for footer style code **********/


/*# sourceMappingURL=style.css.map */